.Less {
  position: fixed;
  inset: 0;
  z-index: 0;
  overflow: auto;
  width: 100%;
  min-height: 100vh;
}

.App:has(.Less) .Header {
  color: #f2f2f2;
}

.App:has(.Less) .Header a {
  color: #f2f2f2;
}
