.Header{
    margin-left: 1em;
}

.Now{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.About{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 60vw
}

.Selfie{
    width: 60vw;
}

.bio{
    width: 60vw
}

.Resume{
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow-x: hidden;
}

.latin-grid {
  display: inline-block;
}

.latin-row {
  display: flex;
}

.latin-cell {
  width: 40px;
  height: 40px;
  border: 1px solid #333;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}